<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Gastón Ramirez">
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
  <script type="text/javascript" src="/assets/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>

  <title>Trayectos</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav"> <!--Obviamente en class, ml-auto = Mueve menus desplegables a derecha -->
        <div class="dropdown show">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"> <!--En class dropdown-toggle = Agrega un menu desplegable su icono-->
            Transporte Público
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
            <a class="dropdown-item" href="#">Alta</a>
            <a class="dropdown-item" href="#">Baja</a>
            <a class="dropdown-item" href="#">Actualización</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown"> <!--En class dropdown-toggle = Agrega un menu desplegable su icono-->
            Servicio Contratado
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
            <a class="dropdown-item" href="#">Alta</a>
            <a class="dropdown-item" href="#">Baja</a>
            <a class="dropdown-item" href="#">Actualización</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown"> <!--En class dropdown-toggle = Agrega un menu desplegable su icono-->
            Vehiculo Particular
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
            <a class="dropdown-item" href="#">Alta</a>
            <a class="dropdown-item" href="#">Baja</a>
            <a class="dropdown-item" href="#">Actualización</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown5" role="button" data-toggle="dropdown"> <!--En class dropdown-toggle = Agrega un menu desplegable su icono-->
            Fisico
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown5">
            <a class="dropdown-item" href="#">Alta</a>
            <a class="dropdown-item" href="#">Baja</a>
            <a class="dropdown-item" href="#">Actualización</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
