<div class="container mx-1 col-6">
  <div class="card-group">
    <div class="card">
      <img src="/assets/img/Computadora Viewsonic.png" class="computadora-viewsonic mx-5" height="165px" width="130px">
      <div class="card-body">
        <h5 class="card-title">Computadora Viewsonic</h5>
        <p class="card-text">Computadora Viewsonic VPC6503-I39100 Intel Core i3</p>
        <p class="card-text"><small class="text-muted">Caro</small></p>
      </div>
    </div>
    <div class="card">
      <img src="/assets/img/Notebook Acer Aspire 5.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Notebook Acer Aspire 5</h5>
        <p class="card-text">Notebook Acer Aspire 5 I3 4Gb 256GB FreeDos NX.HN2AL.011</p>
        <p class="card-text"><small class="text-muted">Caro</small></p>
      </div>
    </div>
    <div class="card">
      <img src="/assets/img/Notebook DELL Inspiron 5584.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Notebook DELL Inspiron 5584</h5>
        <p class="card-text">Notebook DELL Inspiron 5584 3g54p FHD Intel Core i7</p>
        <p class="card-text"><small class="text-muted">Caro</small></p>
      </div>
    </div>
  </div>
  <div class="card-group">
    <div class="card">
      <img src="/assets/img/Notebook Lenovo V15.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Notebook Lenovo V15</h5>
        <p class="card-text">Notebook Lenovo V15 G2 ITL 15.6FHD-i7-1165G7-8GB-1TB-FreeDos 82KB00F7AR</p>
        <p class="card-text"><small class="text-muted">Caro</small></p>
      </div>
    </div>
    <div class="card">
      <img src="/assets/img/Notebook Positivo BGH At510.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Notebook Positivo BGH At510</h5>
        <p class="card-text">Notebook Positivo BGH At510 Intel Celeron 4gb 64gb Win 10</p>
        <p class="card-text"><small class="text-muted">Caro</small></p>
      </div>
    </div>
    <div class="card">
      <img src="/assets/img/Notebook Vaio 15.6.png" class="netbook-vaio" height="200px" width="250px">
      <div class="card-body">
        <h5 class="card-title">Notebook Vaio 15.6</h5>
        <p class="card-text">Notebook Vaio 15.6 Intel Core I5 10210u 4gb 1tb Windows 10</p>
        <p class="card-text"><small class="text-muted">Caro</small></p>
      </div>
    </div>
  </div>
</div>
<style>
  @media (max-width:1500px){
    .computadora-viewsonic {
      height: 155px;
      width: 120px;
    }
    .netbook-vaio {
      height: 195px !important;
      width: 245px;
    }
  }
  @media (max-width:1450px){
    .computadora-viewsonic {
      height: 150px;
      width: 115px;
    }
    .netbook-vaio {
      height: 190px !important;
      width: 240px;
    }
  }
  @media (max-width:1400px){
    .computadora-viewsonic {
      height: 145px;
      width: 110px;
    }
    .netbook-vaio {
      height: 185px !important;
      width: 235px;
    }
  }
  @media (max-width:1350px){
    .computadora-viewsonic {
      height: 140px;
      width: 105px;
    }
    .netbook-vaio {
      height: 180px !important;
      width: 230px;
    }
  }
  @media (max-width:1300px){
    .computadora-viewsonic {
      height: 135px;
      width: 100px;
    }
    .netbook-vaio {
      height: 175px !important;
      width: 225px;
    }
  }
  @media (max-width:1250px){
    .computadora-viewsonic {
      height: 130px;
      width: 95px;
    }
    .netbook-vaio {
      height: 170px !important;
      width: 220px;
    }
  }
  @media (max-width:1200px){
    .computadora-viewsonic {
      height: 125px;
      width: 90px;
    }
    .netbook-vaio {
      height: 165px !important;
      width: 215px;
    }
  }
  @media (max-width:1150px){
    .computadora-viewsonic {
      height: 120px;
      width: 85px;
    }
    .netbook-vaio {
      height: 160px;
      width: 210px;
    }
  }
  @media (max-width:1100px){
    .computadora-viewsonic {
      height: 115px;
      width: 80px;
    }
    .netbook-vaio {
      height: 155px;
      width: 205px;
    }
  }
  @media (max-width:1050px){
    .computadora-viewsonic {
      height: 110px;
      width: 75px;
    }
    .netbook-vaio {
      height: 150px;
      width: 200px;
    }
  }
  @media (max-width:1000px){
    .computadora-viewsonic {
      height: 105px;
      width: 70px;
    }
    .netbook-vaio {
      height: 145px;
      width: 195px;
    }
  }
  @media (max-width:950px){
    .computadora-viewsonic {
      height: 100px;
      width: 65px;
    }
    .netbook-vaio {
      height: 140px;
      width: 190px;
    }
  }
  @media (max-width:900px){
    .computadora-viewsonic {
      height: 95px;
      width: 60px;
    }
    .netbook-vaio {
      height: 135px;
      width: 185px;
    }
  }
  @media (max-width:850px){
    .computadora-viewsonic {
      height: 90px;
      width: 55px;
    }
    .netbook-vaio {
      height: 130px;
      width: 180px;
    }
  }
  @media (max-width:800px){
    .computadora-viewsonic {
      height: 85px;
      width: 50px;
    }
    .netbook-vaio {
      height: 125px;
      width: 175px;
    }
  }
  @media (max-width:750px){
    .computadora-viewsonic {
      height: 80px;
      width: 45px;
    }
    .netbook-vaio {
      height: 120px;
      width: 170px;
    }
  }
  @media (max-width:700px){
    .computadora-viewsonic {
      height: 75px;
      width: 40px;
    }
    .netbook-vaio {
      height: 115px;
      width: 165px;
    }
  }
  @media (max-width:650px){
    .computadora-viewsonic {
      height: 70px;
      width: 35px;
    }
    .netbook-vaio {
      height: 110px;
      width: 160px;
    }
  }
  @media (max-width:600px){
    .computadora-viewsonic {
      height: 65px;
      width: 30px;
    }
    .netbook-vaio {
      height: 105px;
      width: 155px;
    }
  }
  @media (max-width:575.5px){
    .computadora-viewsonic {
      height: 165px;
      width: 130px;
    }
    .netbook-vaio {
      height: 200px;
      width: 250px;
    }
  }
</style>
